# top-most EditorConfig file
root = true

# Code files
indent_size = 4

[*.cs] 
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:error
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:warning
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
csharp_prefer_braces = true:error
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true:error
csharp_new_line_before_catch = true:error
csharp_new_line_before_finally = true:error
csharp_new_line_before_members_in_object_initializers = true:error
csharp_new_line_before_members_in_anonymous_types = true:error
csharp_indent_case_contents = true:error
csharp_indent_switch_labels = true:error
csharp_space_after_cast = false:error
csharp_space_after_keywords_in_control_flow_statements = true:error
csharp_space_between_method_declaration_parameter_list_parentheses = false:error
csharp_space_between_method_call_parameter_list_parentheses = false:error
csharp_preserve_single_line_statements = false:error
csharp_preserve_single_line_blocks = true:error

#Visual studio issues

# VS cannot really know when an event is used or not
# Anyway, even if it not, it may just be interface requirement
dotnet_diagnostic.CS0067.severity = none

#FxCop issues

# CA2227: Свойства коллекций должны быть доступны только для чтения
dotnet_diagnostic.CA2227.severity = none

# CA2007: Попробуйте вызвать ConfigureAwait для ожидаемой задачи
# Using Fody.ConfigureAwait
dotnet_diagnostic.CA2007.severity = none

# StyleCop issues

# SA1009: Closing parenthesis should be spaced correctly
# It is more clear to have closing brace on the last line in miltiline input parameters
dotnet_diagnostic.SA1009.severity = none

# SA1111 
# Same as SA1025
dotnet_diagnostic.SA1111.severity = none

# SA1025
# Aligning of assigments is ok
dotnet_diagnostic.SA1025.severity = none

# SA1101 
# Using this keyword bloat code and make it harder to read
dotnet_diagnostic.SA1101.severity = none

# SA1116 
# First parameter should be on the same line as declaration, to show where it belongs
dotnet_diagnostic.SA1116.severity = none

# SA1200 
# If you're benefit from this rule, yor're likely has some deeper code problems
dotnet_diagnostic.SA1200.severity = none

# SA1633 
# No copyright exist
dotnet_diagnostic.SA1633.severity = none

# SA1516
# It is ok to have elements on adjacent lines
dotnet_diagnostic.SA1516.severity = none

# SA1208
# Order namespaces by name is just simpler
dotnet_diagnostic.SA1208.severity = none

# SA1413
# Rule that favor editing in spite of reading. Reading occures more often
dotnet_diagnostic.SA1413.severity = none