<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="automapper" value="https://www.myget.org/F/automapperdev/api/v3/index.json" />
        <add key="avalonia" value="https://www.myget.org/F/avalonia-ci/api/v2" />
    </packageSources>
</configuration>